<div class="row border-bottom top-navbar">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)" (click)="minimalize()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message">Welcome to Housekeeping Book Dashboard</span>
      </li>
      <li>
        <a href="login.html">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </nav>
</div>
